<!DOCTYPE html>
<html>
<head>
    <title>Core</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        #head{
            background-color: black; 
            color: aliceblue;
            border-radius: 5px;
        }
    </style>
    <h1 style="margin-top: 30px; text-align: center;">Welcome Core</h1>
</head>
<body>
    <div id="head">
        <p class="mt-4" style="padding: 9px; text-align: center;">mentors</p>
    </div>
    <div class="container">
        <div class="button-container">
            {% for mentor in mentors %}
            <form method="post" action="/{{ mentor }}" class="button-form">
                <input type="hidden" name="{{ mentor }}" value="{{ mentor }}">
                    <button type="submit" class="btn btn-primary" style="margin: 3px;">{{ mentor }}</button>
            </form>
            {% endfor %}
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div id="head">
        <p class="mt-3" style="padding: 9px; text-align: center;">mentees</p>
    </div>
    <div class="container">
    
        <div class="button-container">
            {% for mentee in mentees %}
            <form method="post" action="/{{ mentee }}" class="button-form">
                <input type="hidden" name="{{ mentee }}" value="{{ mentee }}">
                    <button type="button" class="btn btn-primary" style="margin: 3px;">{{ mentee }}</button>
                {% endfor %}
            </form>
        </div>
    </div>
</body>
</html>
